POSTGRES_USER=paris_agent
POSTGRES_PASSWORD=change_me_postgres
POSTGRES_DB=paris_agent
POSTGRES_PORT=5432

REDIS_PASSWORD=change_me_redis
REDIS_PORT=6379

RABBITMQ_DEFAULT_USER=paris_agent
RABBITMQ_DEFAULT_PASS=change_me_rabbitmq
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
